@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");


//variáveis de fontes

$fontePrincipal:'Montserrat', sans-serif;
$fonteSecundaria:'Sora', sans-serif;


//variáveis de cores

$bgPrincipal:#0f1726;
$bgNav:#08090d;
$azulClaro:#4baabf;
$amareloEscuro:#fca311;
$amareloClaro:#eab308;
$cinzaAzulado:#415c6c;
$branco: #ffffff;
$preta:#000000;